/* Variables */
:root {
    --type-font: 'Space Mono', monospace;
    --primary-color: hsl(172, 67%, 45%);
    --veryDark-cyan: hsl(183, 100%, 15%);
    --darkGrayish-dark: hsl(186, 14%, 43%);
    --rayish-cyan: hsl(184, 14%, 56%);
    --lightGrayish-cian: hsl(185, 41%, 84%);
    --verylight-cyan: hsl(189, 41%, 97%);
    --White-color: hsl(0, 0%, 100%);
}

/* Normalice */

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

/* First Mobile */

body {
    background-color: var(--lightGrayish-cian);
}

.header-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    background-color: var(--White-color);
    border-radius: 25px 25px;
    display: flex;
    flex-direction: column;
    padding: 35px 35px;
}

.container-indice{
    font-family: var(--type-font);
    color: var(--darkGrayish-dark);
    margin-bottom: 10px;
}

.container-people {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-zero {
    display: none;
    font-family: var(--type-font);
    color: red;
    margin-bottom: 10px;
}

.container-input {
    background-color: transparent;
    font-size: 1rem;
    font-family: var(--type-font);
    color: var(--rayish-cyan);
    font-size: 20px;
    width: 90%;
}

.container-menu {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
    margin-bottom: 30px;
}

.indice-button {
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 5%;
    padding: 20px;
    margin-bottom: 30px;
}

.indice-button:hover {
    border: 2px solid var(--primary-color);
}

.menu-button {
    font-family: var(--type-font);
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 5%;
    background-color: var(--veryDark-cyan);
    color: var(--White-color);
}

.menu-button:nth-of-type(6){
    background-color: var(--verylight-cyan);
}

.menu-button:nth-of-type(6):hover{
    background-color: var(--verylight-cyan);
    border: 2px solid var(--primary-color);
    
}

.menu-button:hover{
    background-color: var(--primary-color);
    color: var(--veryDark-cyan);
};

.menu-input {
    background-color: var(--verylight-cyan);
    color: var(--darkGrayish-dark);
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.container-pay {
    display: flex;
    flex-direction: column;
    background-color: var(--veryDark-cyan);
    border-radius: 10px;
    padding: 30px 20px;
}

.pay {
    font-family: var(--type-font);
    color: var(--White-color);
    
}

.container-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}


.person {
    font-family: var(--type-font);
    color: var(--darkGrayish-dark);
    font-size: 12px;
}

.number {
    font-family: var(--type-font);
    color: var(--primary-color);
    font-size: 30px;
}

.reset {
    border-radius: 5px;
    height: 50px;
    background-color: var(--darkGrayish-dark);
    font-family: var(--type-font);
    color: var(--veryDark-cyan);
    font-size: 20px;
}

/* Screen Desktop */

@media only screen and (min-width: 875px){

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 60%;
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 40px;
    }

    .container-bill {
        padding-right: 50px;
    }

}